@import url('https://fonts.googleapis.com/css?family=Roboto: 400, 500');

.main-container {
  font-family: 'Roboto', sans-serif;
  }

.toc-content {
  max-width: 600px;
  }

.tocify-subheader[data-tag="2"] .tocify-item {
  font-size: 1em !important;
  padding-left: 1em !important;
  }

.tocify-subheader[data-tag="3"] .tocify-item {
  font-size: 1em !important;
  padding-left: 2em !important;
  }

.tocify-subheader[data-tag="4"] .tocify-item {
  font-size: 1em !important;
  padding-left: 3em !important;
  }

.tocify-subheader[data-tag="5"] .tocify-item {
  font-size: 1em !important;
  padding-left: 4em !important;
  }

.tocify-subheader[data-tag="6"] .tocify-item {
  font-size: 1em !important;
  padding-left: 5em !important;
  }

.page-inner section.normal h1 {
  font-size: 1.5em;
  margin-top: 0.25em !important;
  margin-bottom: 0.25em !important;
  padding-top: 10px !important;
  padding-bottom: 2px !important;
  border-bottom: 12pt solid gray !important;
  border-bottom-width: 60% !important;
}

.page-inner section.normal h2 {
  font-size: 1.25em;
  margin-top: 1em !important;
  margin-bottom: 0 !important;
  padding-top: 10px !important;
  padding-bottom: 2px !important;
  border-bottom: 4pt double gray !important;
  }

.page-inner section.normal h3, .page-inner section.normal h4  {
  margin-top: 0.75em !important;
  margin-bottom: 0.125em !important;
  padding-top: 10px !important;
  padding-bottom: 2px !important;
  border-bottom: none !important;
  }

.author, .date {
  margin-top: 0.125em;
  margin-bottom: 0.125em;
  font-weight: normal;
  }

.date {
  margin-bottom: 1em;
  padding: 5px;
  font-size: inherit;
  font-style: italic;
  }

.figure {
  padding-top: 0.5em !important;
  padding-bottom: 0.5em !important;
  }

.caption {
  padding-top: 0.5em;
  }

a:link {
	color: #dd4814; /* dark orange */
	text-decoration: none;
	}

a:visited {
	color: #ff8e65; /* light orange */
	text-decoration: none;
	}

a:hover	{
	color: #F30; /* red */
	text-decoration: underline;
	}

a:active {
	color: #F60; /* orange */
	text-decoration: underline;
	}

.dropcap	{
	padding-bottom: 10px;
	font-size: 3.2em;
	vertical-align: bottom;
	float: left;
	position: relative;
	top:  7px;
  }

blockquote  {
  color: teal;
  }

.small-left	{
	float: left;
	margin: 0.25em 1em 0.25em 0pt;
	vertical-align: top;
	width: 60pt;
	}

.small-left-1em	{
	float: left;
	margin: 0.25em 1em 0.25em 1em;
	vertical-align: top;
	width: 60pt;
	}

.bottom-navbar  {
  padding: 0.5em;
  margin-top: 2em;
  text-align: center;
  border: 1pt solid #bf3e11;
  border-radius: 8px;
  background-color: #dd4814;
  }

.bottom-navbar-link {
  text-emphasis: bold;
  font-style: italic;
  color: white;
  }

p {
  margin-left: 2em;
  padding-bottom: 0.25em;
  }

p.caption {
  color: #777;
  margin-top: 10px;
  }

p code {
  white-space: inherit;
  }

pre {
  word-break: normal;
  word-wrap: normal;
  }

pre code {
  white-space: inherit;
}

/*page-inner section.normal ul {
  padding-left: 4em;
}*/


